.booksOverviewcontainer{
    padding-bottom: 5rem;
}
.serachbox{
    margin-left: 29rem;
    width: 30rem;
}
.addBookAction{
 margin-top: 2rem;
 display: flex;
 flex-direction: row; 
}
.addbook{
    margin-left: 17rem;
}
.books{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 13rem;
    display: flex;
    width: 60rem;
    height: 50rem;
    flex-wrap: wrap;
}
.card{
    margin-left: 40px;
    width: 250px;
    height: 320px;
    color:black;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #ccc;
}

.img{
    width: 50%;
    height: 50%;
} 
