.membership{
   display: flex;
   justify-content: center;
   font-weight: bold;
   align-items: center;
   flex-direction: column;
   padding-bottom: 30px;
}




/* .serachbox{
    margin-top: 2rem;
    margin-left: 29rem;
    width: 30rem;
}
.cardcontainer{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 13rem;
    display: flex;
    width: 60rem;
    flex-wrap: wrap;
    
    
}
.card{
    margin-left: 40px;
    width: 250px;
    height: 300px;
    color:black;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #ccc;
}
*/
