.forgetpasswordcontainer{
  width: 100%;
  height: 40rem;
  margin-top: 6rem;

}
  

  .forgetpasswordbox{
    margin-top: 5rem;
    margin-left: 30rem;
    position: absolute;
    max-width: 300px;
    height:auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 26);
    background-color:white;
    border-radius: 8px;
  }
  
  .submitbutton{
    width: 15.6rem;
    font: inherit;
    margin-top: 1rem;
    background-color: #1ba549;
    color: white;
    border: 1px solid #240370;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  