 
      label {
      font-weight: bold;
      display: flex;
      margin-bottom: 5px;
      }
      
      input {
      display: block;
      width: 250px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.4;
      color:#555;
      background-color: white;
      background-image: none;
      border: 1px solid rgb(22, 2, 2) ;
      border-radius: 40px;
      }
      
      .form-control {
        margin-bottom: 20px;
      }
      
      .error {
        color:red;
      }
      